@import "utils";
@import "typography";
@import "reset";
@import "fonts";
@import "./header.scss";
@import "./nav.scss";
@import "./first.scss";
@import "./second.scss";
@import "./third.scss";
@import "./forth.scss";
@import "./fifth.scss";
@import "./sixth.scss";

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  background: white;
  overflow-x: hidden;
}
